*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color1:#E5BF4A;
    --color2:#D2D2D2;
    --color3:#2E260F;
    --color4:#0A0A0A;
    --color5:#B1B1B1;
    --color6:#FFFFFF;
    --color7:#DFDFDF;
    --font1: "Jost", serif;
    --font2:"Poiret One", serif;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 3px;
    height: 5px !important;
    border-radius: 10px;
}
  
::-webkit-scrollbar-track {
    background: var(--color4);
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--color1);
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--color4);
}
.to-top-item{
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 32px;
    right: 32px;
    border: 2px solid var(--color1);
    border-radius: 50%;
    transform: scale(0);
    z-index: 99;
    transition: all .2s linear;
}
.to-top-item.activeTop {
    transform: scale(1);
 }  
/* Header */
.header{
    width: 100%;
    min-height: 220px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 999;
}
.header-top{
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.isons{
    height: 73px;
    width: 112px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icon-link{
    color: var(--color6);
    transition: .5s;
    text-decoration: none;
    font-size: 18px;
}
.icon-link:hover{
    color: var(--color1);
    transform: rotateY(-180deg);
}
.logo{
    width: 213px;
    height: 73px;
}
.logo-img{
    width: 100%;
    height: 100%;
}
.telphone{
    width: 230px;
    height: 50px;
    border: 2px solid var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.telephone-text{
    font-family: var(--font1);
    color: var(--color1);
    font-size: 16px;
}
.header-bottom{
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.menu{
    width: 500px;
    height: 100%;
    transition: 2s;
}
.menu.showMenu{
    transform: translateY(0);
    opacity: 1;
}
.bars-menu{
    width: 45px;
    height: 45px;
    position: absolute;
    border-radius: 50%;
    right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    display: none;
    z-index: 1000;
}
.bars{
    width: 30px;
    height: 3px;
    background-color: var(--color1);
    border-radius: 20px;
}
.menu-list{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.item-link{
    color: var(--color6);
    font-family: var(--font1);
    font-size: 16px;
    text-decoration: none;
    position: relative;
   
}
.item-link::after{
    position: absolute;
    content: " ";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color1);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: .5s;
}
.item-link:hover::after{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.item-link:hover{
    color: var(--color1);
}
/* Home */
.home-section{
    width: 100%;
    height: 300px;
    background-image: url(/images/h1_hero1.jpg);
    background-position: center;
    background-size: cover;
}
.home-content {
    height: 300px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.home-text{
    font-size: 70px;
    font-family: var(--font2);
    color: var(--color6);
}
/* Section2 */
.section2{
    width: 100%;
    min-height: 1300px;
}
.section2-content{
    min-height: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 50px 0px;
    gap: 15px;
}
.sec2-item-container{
    width: 850px;
    height: 1300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.sec2-box-container{
    width: 420px;
    height: 1300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.sec2-item{
  width: 820px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.sec2-item-img{
    width: 100%;
    height: 400px;
}
.sec2-detalis{
    width: 100%;
    min-height: 200px;
    box-shadow: 0 0 20px var(--color2);
    padding: 30px 35px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.sec2-text1{
    color: var(--color6);
    font-size: 24px;
    font-family: var(--font2);
}
.sec2-text2{
    color: var(--color6);
    font-size: 16px;
    font-family: var(--font1);
}
.sec2-detalis-item{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.sec2-text3{
    color: var(--color1);
    font-size: 14px;
    font-family: var(--font1);
}
.sec2-detal{
    position: absolute;
    width: 87px;
    height: 87px;
    background-color: var(--color1);
    border-radius: 10px;
    bottom: 180px;
    left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 8px; */
}
.detal-text1{
    font-size: 30px;
    font-family: var(--font2);
    color: var(--color6);
}
.detal-text2{
    font-size: 18px;
    font-family: var(--font1);
    color: var(--color6);
}
.sec2-box{
    width: 400px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}
.sec2-box-item1{
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBF9FF;
}
.input-search{
    width: 269px;
    height: 50px;
    padding: 6px 12px 6px 20px;
    background-color: var(--color6);
    border: 1px solid var(--color2);
    outline: none;
}
.input-search::placeholder{
    font-family: var(--font1);
}
.sec2-btn{
    width: 87px;
    height: 50px;
    border: none;
    background-color: var(--color1);
    padding: 4px 15px;
    color: var(--color6);
    font-size: 18px;
    font-family: var(--font1);
}
.sec2-box-item2{
    width: 100%;
    height: 252px;
    background-color: #FBF9FF;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec2-box-text1{
    font-size: 20px;
    font-family: var(--font2);
    color: var(--color4);
    position: relative;
}
.sec2-box-text1::after{
    position: absolute;
    content: " ";
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: var(--color5);
}
.sec2-box-clouds-container{
    width: 100%;
    min-height: 111px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.sec2-cloud{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    border: 1px solid var(--color2);
    background-color: var(--color6);
    transition: .6s;
    cursor: pointer;
}
.sec2-cloud1,
.sec2-cloud7{
    width: 78px;
}
.sec2-cloud2{
    width: 63px;
}
.sec2-cloud3{
    width: 102px;
}
.sec2-cloud4{
    width: 71px;
}
.sec2-cloud5,
.sec2-cloud8{
    width: 96px;
}
.sec2-cloud6{
    width: 86px;
}
.cloud-text{
    font-size: 16px;
    color: var(--color1);
    font-family: var(--font1);
    transition: .6s;
}
.sec2-cloud:hover{
    background-color: var(--color1);
}
.sec2-cloud:hover .cloud-text{
    color: var(--color6);
}
.sec2-box-item3{
    width: 100%;
    min-height: 391px;
    background-color: #FBF9FF;
    padding:  30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}
.sec2-posts-container{
    width: 100%;
    min-height: 251px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 3px;
}
.sec2-post{
    width: 110px;
    height: 110px;
    border: 1px solid;
}
.sec2-post-img{
    width: 100%;
    height: 100%;
}
.sec2-box-item4{
    width: 100%;
    height: 258px;
    background-color: #FBF9FF;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
}
.input-email{
    width: 100%;
    height: 50px;
    border: 1px solid var(--color2);
    background-color: #FBF9FF;
    padding: 6px 12px 6px 20px;
    margin-top: 50px;
}
.sec2-btn-box{
    width: 100%;
    height: 50px;
    border: 1px solid var(--color1);
    background-color: var(--color6);
    color: var(--color1);
    font-size: 20px;
    font-family: var(--font2);
    text-transform: uppercase;
    transition: .6s;
}
.sec2-btn-box:hover{
    background-color: var(--color1);
    color: var(--color6);
}
/* Section3 */
.section3{
    width: 100%;
    height: 150px;
}
.section3-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec3-item-container{
    width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sec3-iitem{
    width: 45px;
    height: 45px;
    border: 1px solid var(--color6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color1);
    background-color: var(--color6);
    transition: .6s;
}
.sec3-iitem:hover{
    background-color: transparent;
}/* Footer-section */
.footer-section{
    width: 100%;
    min-height: 533px;
}
.foouter-content{
    min-height: 533px;
    display: flex;
    flex-direction: column; 
    padding-top: 80px;
    gap: 25px;
}
.footer-top{
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
}
.logo2{
    width: 213px;
    height: 74px;
}
.logo2-img{
    width: 100%;
    height: 100%;
}
.nav{
    width: 438px;
    height: 80px;
}
.nav-list{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-link{
    color: var(--color6);
    font-family: var(--font1);
    font-size: 16px;
    text-decoration: none;
    position: relative;
   
}
.nav-link::after{
    position: absolute;
    content: " ";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color1);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: .5s;
}
.nav-link:hover::after{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.nav-link:hover{
    color: var(--color1);
}
.footer-bottom{
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    border-top: 1px solid #3B3B3B;
    border-bottom: 1px solid #3B3B3B;
    padding: 40px 0;
    gap: 25px;
}
.footer-box1{
    width: 526px;
    min-height: 197px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-text1{
    color: var(--color6);
    font-size: 16px;
    font-family: var(--font1);
    padding-left: 10px;
}
.footer-btns{
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer-btn{
    width: 153px;
    border: 1px solid #3B3B3B;
    margin: 25px 4px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color6);
    font-size: 15px;
    font-family: var(--font1);
    background-color: transparent;
    padding: 14px 36px 13px 39px;
    gap: 10px;
    transition: .5s;
}
.footer-btn:hover{
   color: var(--color1);
}
.footer-box2,
.footer-box3{
    width: 219px;
    height: 247px;
    display: flex;
    flex-direction: column;
    gap:15px;
    flex-grow: 1;
    padding-left: 25px;
}
.footer-img2{
    width: 40px;
    height: 40px;
}
.footer-text3{
    font-size: 24px;
    color: var(--color1);
    font-family: var(--font2);
}
.footer-text4{
    font-size: 16px;
    font-family: var(--font1);
    color: var(--color6);
}
/*Footer  */
.footer{
    width: 100%;
    height: 80px;
}
.footer-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.footer-text{
    color: var(--color6);
    font-size: 14px;
    font-family: var(--font1);
    text-align: center;
}
.footer-text i{
    color: var(--color1);
}
.footer-text span{
    color: var(--color1);
}